<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <form action="/search" method="get">
      <input type="text" name="query"> 
      <input type="submit" hidden />
    </form>
    
    <ul>
      <% data.forEach(mes => { %>
      <li><a href="<%=mes.category_name%>"><img src=<%= mes.image_url %> /></a>
      <p><%= mes.category_name %></p>
      </li>
      <% }) %>
    </ul>
  <%= title %>
  <img src="https://instamart-media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_294/NI_CATALOG/IMAGES/CIW/2024/4/22/501ccda7-f9d9-4017-9e20-75f3a07dda13_ee4a7671-f277-40ce-9843-f046a376ac41">
  </body>
</html>
