<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <form action="/search" method="get">
      <input type="text" name="query" placeholder="search"> 
      <input type="submit" hidden />
    </form>
    
    <ul>
      <% data.forEach(category => { %>
      <li><a href="<%=category.category_name%>"><img src=<%= category.image_url %> /></a>
      <p><%= category.category_name %></p>

      <button class="delete-btn" id="<%= category.id %>">Delete</button>
      <div class="delete-form" style="display: none;">
        <form action="/delete-category" method="post">
        <h1>Delete Category <% category.category_name %> ?</h1>
        <p><strong>THIS ACTION CANNOT BE REVERTED</strong></p>
        <input name="category-id" value="<%= category.id %>" hidden>
        <button type="submit">Confirm</button>
      </form>
      </div>
      
      </li>
      <% }) %>
    </ul>
  </body>
  <script>
    document.querySelectorAll(".delete-btn").forEach(btn => {
      btn.addEventListener('click', (e) => {
        const form = e.target.nextElementSibling;
        if(form.style.display === "none"){
          form.style.display = "block";
        } else {
          form.style.display = "none";
        }
      });
    });
  </script>
</html>
