<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/global.css">
  </head>
  <body>
    <form action="/search" method="get">
      <input type="text" name="query"> 
      <input type="submit" hidden />
    </form>
    <ul>
      <% data.forEach(item => { %>
      <li>
        <img src="<%= item.image_url %>" />
        <p><%= item.item_name %></p>
        <span>
          Amt: <%= item.quantity_available %>
        </span>
        <button class="edit-btn" data-item-id="<%= item.id %>">Edit</button>

        <div class="update-form" style="display: none">
          <form action="/update-item" method="post">
            <label for="item-id">Item Id:</label>
            <input name="item-id" value="<%= item.id %>" readonly style="pointer-events: none">
            <label for="item-name">Item Name:</label>
            <input name="item-name" value="<%= item.item_name %>">
            <label for="amount">Amount:</label>
            <input name="amount" value="<%= item.amount %>">
            <label for="price">Price:</label>
            <input name="price" value="<%= item.price %>">
            <label for="image-Url">Image Url:</label>
            <input name="image-Url" value="<%= item.image_url %>">
            <label for="category">Category:</label>
            <select name="category">
              <% allCategoryNames.forEach(category => { %>
                <option value="<%= category.id %>" 
                  <%= category.category_name === title ? 'selected' : '' %>>
                  <%= category.category_name %>
                </option>  
              <% }) %>
            </select>
            <button type="reset" onclick="">Cancel</button>
            <button type="submit">Submit</button>
          </form>
        </div>

        <button class="delete-btn" id="<%= item.id %>">Delete</button>

        <div class="delete-form" style="display: none" >
          <form action="/delete-item" method="post">
            <h1>Delete Item <%=item.item_name%> ?
              <br>
              <strong>
                THIS ACTION CANNOT BE REVERTED
              </strong>
            </h1>
            <input name="item-id" value="<%= item.id %>" hidden>
            <button type="reset" onclick="window.history.back();">Cancel</button>
            <button type="submit">CONFIRM</button>
          </form> 
        </div>
      </li>
      <% }) %>
    </ul>

    
    <a href="/">Back to home</a>
    <script>
      document.querySelectorAll('.edit-btn').forEach(button => {
        button.addEventListener('click', (e) => {
          const form = e.target.nextElementSibling;
          if (form.style.display === "none" || form.style.display === "") {
            form.style.display = "block";
          } else {
            form.style.display = "none";
          }
        });
      });

      document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', (e) => {
          const form = e.target.nextElementSibling;
          if (form.style.display === "none" || form.style.display === "") {
            form.style.display = "block";
          } else {
            form.style.display = "none";
          }
        });
      });
    </script>
  </body>
</html>
