<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <ul>
      <% data.forEach(item => { %>
      <li>
        <img src=<%= item.image_url %> />
        <p><%= item.item_name %></p>
        <span>
          Price: <%= item.price %> Amt: <%= item.amount %>
        </span> 
      </li>
      <% }) %>
    </ul>
  </body>
</html>
